@page
@using Booking.Application.Dtos
@using Booking.WebUI.Pages.Shared
@model Booking.WebUI.Pages.Order.MyModel
@{
    ViewData["Title"] = "Moje zamówienia";
}

<partial name="_MessagePartial" for="StatusMessage" />
@if (Model.Orders?.Data is not null)
{
    <div class="table-responive">
        <table class="table">
            <thead>
                <tr>
                    <th>Numer zamówienia</th>
                    <th>Data zamówienia</th>
                    <th>Status</th>
                    <th>Data finalizacji</th>
                    <th>Kwota</th>
                    <th>Szczegóły</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model.Orders.Data)
                {
                    <tr>
                        <td>@order.ID</td>
                        <td>@order.DateCreated</td>
                        <td>
                            <p class="@(order.IsFinalized ? "text-success" : "text-danger")">
                                @(order.IsFinalized ? "Zfinalizowane" : "Niezfinalizowane")
                            </p>
                        </td>
                        <td>@order.DateFinalized</td>
                        <td>@Math.Round(order.TotalPrice, 2, MidpointRounding.AwayFromZero) PLN</td>
                        <td><a asp-page="/Order/Details" asp-route-orderID="@order.ID" class="link-dark">Zobacz szczegóły</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <form method="post">
            <partial name="_PaginatedListPartial" model=@(_PaginatedListPartialModel.Create<OrderDto>(Model.Orders, "UpdateFilters", "Nie znaleziono żadnych zamówień.")) />
        </form>
    </div>
}